/*------          Fonts             --------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 /*             Common Styles            */
body{
    font-family: "Inter", sans-serif;
}
.logo-font{
    font-family: 'Oswald', sans-serif;
}
.nav-link{
    font-family: 'Bebas Neue', cursive;
}


/*      Nabvar Styling       */
nav{
   
    margin: 0 .5rem 3rem;
    border-radius: 2px;
   
     

}
.navbar-brand{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
 
     -webkit-text-fill-color:#FF512F;

} 
.nav-item .nav-link{
    text-decoration: none;
    color: white;
    padding: 0.5rem 0;
    
 }
 
 .nav-item .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    transform: scaleX(0);
    transition: 0.5s;
 }
 
 .nav-item .nav-link:hover::after {
    transform: scale(1);
 }

/*       Banner Slider Styling          */

.slide-1,.slide-2,.slide-3{
   background: linear-gradient(#8BC6EC,#9599E2);
}




.btn{
   padding: 1.5rem 2rem;
   border-radius: 150px;
   border: 0;
   font-family: 'Oswald', sans-serif;
   font-size: 1.5rem;
   
   cursor: pointer;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
   transition: all 0.5s;
}

.btn:hover,
 .btn:active{
    transform: translateY(-5px);
 }
.carousel-item h5{
   font-family: 'Poppins', sans-serif;
}
.carousel-item h1{
   font-family: 'Poppins', sans-serif;

}
.carousel-item p{
   font-family: 'Lobster', cursive;  
   font-size: 1.5rem;
}

/*          Features Area Styling          */
.features-texts h2{
   font-family: 'Poppins', sans-serif;
}
.features-texts p{
   font-family: "Inter", sans-serif;

}
.heading-features{
   font-family: 'Poppins', sans-serif;  
   background: -webkit-linear-gradient(#52E5E7,
   #130CB7);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.feature-text{
   font-family: cursive;
}


/*          Try out Section Styling        */

.try-section {
   /* width: 110rem;
   height: 70rem; */
   /* display: flex;
   align-items: center; */
   gap: 5rem;
   margin: 4rem 2rem 13rem;
   padding-top: 7rem;
   padding-left: 3rem;
   border: 2px solid #FF512F;
   border-radius: 20px;
   font-family: 'Poppins', sans-serif;
   




}


.try-texts-text {
   margin-top: 1.2rem;
   padding: .5rem;
   font-size: 1rem;
   font-weight: 500;
   margin-top: 1rem;
   line-height: 1.5;
   margin: 2rem 0;
   font-family: "Inter", sans-serif;
}


.try-texts h2{
   font-size: 2.5rem;
   padding-top: 2rem;
   color: white;
}



.try-texts .btn{
   background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
   margin: 10px;
   padding: 15px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .try-texts .btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

   


.try-img img {
  width: 100%;
   padding-top: 5rem ;
}

                         /* Card area styling */
.price-heading{
   color: #1FA2FF;
   margin-bottom: 2rem;
   font-size: 3rem;
}

.price-card{
   border: 2px solid #12D8FA;
   border-radius: 10px;
}

                        
                         .card-btn {
                           background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
                           margin: 10px;
                           padding: 10px 10px;
                           text-align: center;
                           text-transform: uppercase;
                           transition: 0.5s;
                           background-size: 200% auto;
                           color: white;            
                           border-radius: 10px;
                           display: block;
                         }
               
                         .card-btn:hover {
                           background-position: right center; /* change the direction of the change here */
                           color: #fff;
                           text-decoration: none;
                         }
  
   /* Form area styling */
   .form-area{
      border: 2px solid #1FA2FF;
      border-radius: 10px;
      padding: 1rem 1rem 0;
      margin-right: 2rem;
   }
   form input{
      margin-bottom: 1rem;
      width: 80%;
      border-radius: 20px;
   }
   
   
   .form-btn{background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
      margin: 10px;
      padding: 15px 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }

    .form-btn:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }

    /* SVG Icons Styling */
    .svg-icons svg{
       width: 50px;
       color: white;
       fill: #FF512F;
       padding-left: 1rem;
    }
    .svg-icons p{
       font-size: 1em;
       padding-right: 1rem;
    }
   .map img{
      border: 2px solid #FF512F;
      border-radius: 10px;
      width: 50vw;
      height: 50vh;
      transition: 1s;
   }
  .map img:hover{
     transform: scale(2);
     box-shadow: 2px 2px 10px coral;
  }

   /* footer styling */
  footer{
     color: azure;
     margin-top: 5rem;
  }
   